{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="new-post">
    
    <h3>New Post</h3>
    <form id="post-form">
        <div class="form-group">
            Title: <input id="post-title" class="form-control" >
        </div>
        
        <textarea class="form-control mb-1" rows="3" id="post-content"></textarea>
        <input type="submit" class="btn btn-primary" value="Post">
    </form>
</div>
{% endif %}
<h2 class="float-left">All Posts</h2>
<nav aria-label="Post navigation">
    <ul id="pagination" class="pagination justify-content-end">   
    </ul>
</nav>
<hr>
<div id="posts-view">
</div>
{% endblock %}

{% block script %}
    <script>
        var AuthenticatedUser = '{{request.user}}';
    </script>
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}