{% extends "auctions/layout.html" %}

{% block title %}
    Create New Listing
{% endblock %}

{% block body %}
        <h2> Create New Listing</h2>
        <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
            {{ form.description.label_tag }} {{ form.description }} 
        </div>
        <div class="row">
            <div class="col">
                {{ form.start_bid.label_tag }} {{ form.start_bid }}    
            </div>
            <div class="col">
                {{ form.duration.label_tag |add:" (days)" }} {{ form.duration }}    
            </div>
            <div class="col">
                {{ form.category.label_tag }} {{ form.category }}
            </div>
        </div>
        <div class="form-group">
            {{ form.image_url.label_tag }} {{ form.image_url }}
        </div>            
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

{% endblock %}