{% load static %}
{% load auction_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>{% block title %}Auctions{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="{% static 'auctions/Auction-74.png' %}" alt="Auction">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link px-2 {% if '/' == request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 {% if '/categories' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'categories' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link px-2 {% if '/create' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'create' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 {% if '/user' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'userlistings' user.id %}">My Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 {% if '/mywins' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'mywins' %}">My Wins</a>
                        </li>
                        <li class="nav-item">
                            {% if user.id|watch_count %}
                                <a class="nav-link px-2 {% if '/watchlist' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'watchlist' %}" style="display: inline-block;margin-right: -12px;">Watchlist</a>
                                <span class="badge bg-secondary text-light">{{user.id|watch_count }}</span>    
                            {% else %}
                            <a class="nav-link px-2 {% if '/watchlist' in request.path %}text-secondary{% else %}text-white{% endif %}" href="{% url 'watchlist' %}">Watchlist</a>
                            {% endif %}
                        </li>
                        
                    {% endif %}
                </ul>       
                        
                {% if user.is_authenticated %}
                    <span class="text-secondary mr-2">Signed in as <strong>{{ user.username }}</strong>.</span>
                    <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">Log Out</a>
            
                {% else %}
                    <a class="btn btn-sm btn-outline-light mr-2" href="{% url 'login' %}">Log In</a>
                    <a class="btn btn-sm btn-warning" href="{% url 'register' %}">Register</a>
            
                {% endif %}
                    
            </div>
        </nav>
        <div class="container p-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
            });
        </script>
    </body>
</html>
