{% extends "auctions/layout.html" %}
{% load auction_filters %}

{% block title %}
    View Listing
{% endblock %}

{% block body %}

<div class="container w-75 p-3 ml-0">
    <h2 style="display: inline-block;"> {{ listing.title }}</h2>
    {% if user.is_authenticated %}
        {% is_watched listing.id user.id as watched %}
        {% if watched %}
            <a href="{% url 'watchlist_action' listing.id 'remove' %}" class="badge badge-secondary" data-toggle="tooltip" title="Click to remove">Watchlist</a>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col">
            {% if listing.image_url %}
                
                    <!-- how to handle missing images taken from https://blog.imagekit.io/how-to-handle-loading-images-that-may-not-exist-on-your-website-92e6c3c6ea63 -->
                    <!-- image placeholder taken from https://github.com/dwyl/learn-tachyons/issues/46-->
                    <img src="{{ listing.image_url }}" alt="{{ listing.title}}" style="object-fit: contain;" onerror="this.onerror=null;this.src='/static/auctions/blank_img.png';">
            {% endif %}
        </div>
        <div class="col">
           
                {% if listing.id|bid_count %}
                <h5 style="display: inline-block;">Current bid: ${{ listing.id|price }}</h5> 
                <span class="text-muted" style="margin-left: 10px;">
                    {% if listing.id|bid_count > 1 %}
                        ({{listing.id|bid_count}} Bids)
                    {% else %}
                        ({{listing.id|bid_count}} Bid)
                    {% endif %}
                </span>
                {% else %}
                   <h5>Starting bid: ${{ listing.start_bid }} </h5>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        {% with bid=listing.id|price %}
                        <input type="number" name="bid" class="form-control" placeholder="Minimum bid ${{ bid|min_bid }}" min="{{ bid|min_bid }}" step="any" aria-label="Min bid" aria-describedby="button-bid" required>
                        {% endwith %}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-bid">Bid</button>
                        </div>
                        
                    </div>
                </form>
                <hr>
            <p>{{ listing.description }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text-muted">
                Added: {{ listing.created }} |
                {% if user.is_authenticated %}
                Added by: 
                    <a href="{% url 'userlistings' listing.created_by.id %}">{{ listing.created_by.username }}</a> |
                {% endif %}
                Category: {{ listing.category }} </p>
        </div>
        
    </div>
</div>

{% endblock %}