@keyframes appear {
    0% {
        opacity: 0;
        max-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }

    100% {
        opacity: 1;
        /*line-height: 100%;*/
        /*animating max-height is not ideal because if content is larger than max-height, it will not fit*/
        max-height: 500px;
        
    }
}
.anime {
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*animation-play-state: running; */
    
}
