{% extends "clientphotogallery/layout.html" %}
{% load static %}
{% load app_filters %}

{% block body %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <div class="d-flex justify-content-between">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="form-check form-switch">
                    <span>Hide archived</span>
                    <input class="form-check-input" type="checkbox" id="hidearchive">
                  </div>
            </div>
            {% if galleries %}
                <div class="row">  
                {% for gallery in galleries %}
                    {% if gallery.archived %}
                        <div class="col-xl-6 archived">
                    {% else %}
                        <div class="col-xl-6">
                    {% endif %}    
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="float-start">
                                   {% if gallery.archived %}
                                        {{ gallery.title }} (Archived)
                                    {% else %}
                                        {{ gallery.title }}
                                    {% endif %}
                                </div>
                                <div class="float-end">
                                    
                                    <a href="{% url 'detail' gallery.id %}" class="text-decoration-none link-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'edit' gallery.id %}" class="text-decoration-none link-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'delete' gallery.id %}" class="text-decoration-none link-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ gallery.assets.all.0.file.url }}" class="img-fluid rounded-start" alt="..." style="max-height: 174px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-text">{{ gallery.description}}</p>
                                        <a href="{% url 'detail' gallery.id %}">Open</a>
                                        <a href="{% url 'edit' gallery.id %}">Edit</a>
                                        <p></p>
                                        <p>Number of selections: {{ gallery.count_selected }}</p>
                                        <p class="card-text"><small class="text-muted">Created {{ gallery.created}}</small></p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Client Selections
                    </div>
                    <div class="card-body">
                        <table id="datatablesDashboard" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Gallery</th>
                                    <th>Client</th>
                                    <th>Asset</th>
                                    <th>Print Count</th>
                                    <th>Last Updated</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Gallery</th>
                                    <th>Client</th>
                                    <th>Asset</th>
                                    <th>Print Count</th>
                                    <th>Last Updated</th>
                                    <th>Comment</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for selection in selections %}
                                    {% if selection.asset__gallery__archived %}
                                    
                                        <tr>
                                            <td>{{ selection.asset__gallery__title }} (Archived)</td>
                                            <td>{{ selection.client__identifier }}</td>
                                            <td>{{ selection.asset__file|filename }}</td>
                                            <td>{{ selection.print_count }}</td>
                                            <td>{{ selection.updated }}</td>
                                            <td>{{ selection.comment }}</td>
                                        </tr>
                                    
                                    {% else %}
                                    <tr>
                                        <td>{{ selection.asset__gallery__title }}</td>
                                        <td>{{ selection.client__identifier }}</td>
                                        <td>{{ selection.asset__file|filename }}</td>
                                        <td>{{ selection.print_count }}</td>
                                        <td>{{ selection.updated }}</td>
                                        <td>{{ selection.comment }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>    
                    </div>
                </div>
            {% else %}
            <p> You have no galleries, go ahead and <a href="{% url 'create' %}">Create your first gallery</a></p>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block script %}               
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'clientphotogallery/dashboard/js/datatablesDashboard.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>
    <script>
        const toggleArchive = document.getElementById('hidearchive')
        const elementstohide = document.querySelectorAll('.archived')
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            var hideArchive = toggleArchive.checked

            if (hideArchive && data[0].match(/archive/i)) {
                return false
            }
            return true

        });
        
        var table = $('#datatablesDashboard').DataTable();
        
        toggleArchive.addEventListener('change', function(){
            if (this.checked) {
                elementstohide.forEach(element => {                    
                    if (element.style.display = 'block') {
                        element.style.display = 'none';
                        table.draw();
                    }
                    
                });
            } else {
                elementstohide.forEach(element => {
                    if (element.style.display = 'none') {
                        element.style.display = 'block';
                        table.draw();
                    }
                });

            }
        });
        
    </script>
{% endblock %}